.height-33 {
  height: 33vh;
}

.height-30px {
  height: 30px;
}

.height-60px {
  height: 60px;
}

.height-75px {
  height: 75px;
}

.height-65-md-55 {
  @media(max-width: 2000px) {
    height: 55vh;
  }
  @media(max-width: 768px) {
    height: 65vh;
  }
}

.height-100-md-67 {
  @media(max-width: 2000px) {
    height: 67vh;
  }
  @media(max-width: 768px) {
    height: 100vh;
  }
}

.height-100-md-65 {
  @media(max-width: 2000px) {
    height: 65vh;
  }
  @media(max-width: 768px) {
    height: 100vh;
  }
}

.height-100-md-33 {
  @media(max-width: 2000px) {
    height: 33vh;
  }
  @media(max-width: 768px) {
    height: 100vh;
  }
}

.height-50-md-auto {
  @media(max-width: 2000px) {
    height: auto;
  }
  @media(max-width: 768px) {
    height: 50vh;
  }
}

.max-width-400px {
  max-width: 400px;
}

.max-width-480px {
  max-width: 480px;
}

.vh-md-100 {
  @media(max-width: 2000px) {
    height: 100vh;
  }
  @media(max-width: 768px) {
    height: auto;
  }
}

.width-60px {
  width: 60px;
}