.background-size-cover {
  background-size: cover;
}

.background-white {
  background-color: hsl(0, 0%, 100%);
}

.background-black {
  background-color: black;
}

.border-radius-10px {
  border-radius: 5px;
}

.fill-black {
  fill: #000;
}

.letter-spacing-10px {
  letter-spacing: 10px;
}

.letter-spacing-6px {
  letter-spacing: 6px;
}

.no-list-style-type {
  list-style-type: none;
}

.outline-none {
  outline: none;
}