@media(max-width: 2000px) {
  .grid-1col-md-3col {
    display: grid;
      grid-template-columns: 2fr 3fr 2fr;
  }
}
  
@media(max-width: 768px) {
  .grid-1col-md-3col {
    display: grid;
    grid-template-columns: 1fr;
  }
}