.width-video {
  @media(max-width: 2000px) {
    width: 500px;
  }
  @media(max-width: 500px) {
    width: 450px;
  }
  @media(max-width: 450px) {
    width: 400px;
  }
  @media(max-width: 400px) {
    width: 375px;
  }
}