.form-button {
  color: white;
  border: none;
  background-color: black;
  padding: 10px 15px; }
  .form-button:hover {
    background-color: #454545; }

@media (max-width: 2000px) {
  .grid-1col-md-3col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 3fr 2fr;
    grid-template-columns: 2fr 3fr 2fr; } }

@media (max-width: 768px) {
  .grid-1col-md-3col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr; } }

@media (max-width: 2000px) {
  .centered {
    position: auto;
    left: 0%; } }

@media (max-width: 768px) {
  .centered {
    position: fixed;
    left: 40%; } }

/* OVERLAY ONCE MENU CLICKED */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0.5;
  -webkit-transition: 0.5;
  transition: 0.5; }

/* GREY HOVER FOR "SHOP NOW" + ARROW AND DOUBLE-ARROWS */
.fill-grey-on-hover:hover h3 {
  color: #a1a1a1;
  cursor: pointer; }

.fill-grey-on-hover:hover svg {
  cursor: pointer;
  fill: #a1a1a1; }

.background-darkgrey-on-hover:hover {
  background-color: #454545;
  cursor: pointer; }

.fill-darkgrey-on-hover:hover svg {
  cursor: pointer;
  fill: #454545; }

.bg-image-desktop-image-hero-1 {
  background-image: url("https://geoffrey-dulac.github.io/frontend_mentor/images/desktop-image-hero-1.jpg"); }

.bg-image-desktop-image-hero-2 {
  background-image: url("https://geoffrey-dulac.github.io/frontend_mentor/images/desktop-image-hero-2.jpg"); }

.bg-image-desktop-image-hero-3 {
  background-image: url("https://geoffrey-dulac.github.io/frontend_mentor/images/desktop-image-hero-3.jpg"); }

.bg-image-about-dark {
  background-image: url("https://geoffrey-dulac.github.io/frontend_mentor/images/image-about-dark.jpg"); }

.bg-image-about-light {
  background-image: url("https://geoffrey-dulac.github.io/frontend_mentor/images/image-about-light.jpg"); }

.text-light-grey {
  color: #a1a1a1; }

.text-white {
  color: white; }

.text-dark-grey {
  color: #454545; }

.text-black {
  color: black; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Spartan', sans-serif; }

p {
  font-size: 12px; }

.font-size-12px {
  font-size: 12px; }

.font-size-14px {
  font-size: 14px; }

.font-size-30px {
  font-size: 30px; }

.font-weight-600 {
  font-weight: 600; }

.margin-left-15px {
  margin-left: 15px; }

.margin-left-20px {
  margin-left: 20px; }

@media (max-width: 2000px) {
  .margin-left-top-auto-md-50px {
    margin: 50px auto auto 50px; } }

@media (max-width: 768px) {
  .margin-left-top-auto-md-50px {
    margin: auto; } }

.margin-right-32px {
  margin-right: 32px; }

.height-33 {
  height: 33vh; }

.height-30px {
  height: 30px; }

.height-60px {
  height: 60px; }

.height-75px {
  height: 75px; }

@media (max-width: 2000px) {
  .height-65-md-55 {
    height: 55vh; } }

@media (max-width: 768px) {
  .height-65-md-55 {
    height: 65vh; } }

@media (max-width: 2000px) {
  .height-100-md-67 {
    height: 67vh; } }

@media (max-width: 768px) {
  .height-100-md-67 {
    height: 100vh; } }

@media (max-width: 2000px) {
  .height-100-md-65 {
    height: 65vh; } }

@media (max-width: 768px) {
  .height-100-md-65 {
    height: 100vh; } }

@media (max-width: 2000px) {
  .height-100-md-33 {
    height: 33vh; } }

@media (max-width: 768px) {
  .height-100-md-33 {
    height: 100vh; } }

@media (max-width: 2000px) {
  .height-50-md-auto {
    height: auto; } }

@media (max-width: 768px) {
  .height-50-md-auto {
    height: 50vh; } }

.max-width-300px {
  max-width: 300px; }

.max-width-400px {
  max-width: 400px; }

.max-width-480px {
  max-width: 480px; }

@media (max-width: 2000px) {
  .vh-md-100 {
    height: 100vh; } }

@media (max-width: 768px) {
  .vh-md-100 {
    height: auto; } }

.width-60px {
  width: 60px; }

.background-size-cover {
  background-size: cover; }

.background-white {
  background-color: white; }

.background-black {
  background-color: black; }

.border-radius-10px {
  border-radius: 5px; }

.fill-black {
  fill: #000; }

.letter-spacing-10px {
  letter-spacing: 10px; }

.letter-spacing-6px {
  letter-spacing: 6px; }

.no-list-style-type {
  list-style-type: none; }

.outline-none {
  outline: none; }
