<div class="height-100-md-67 row">
  <div class="col-12 col-md-7 bg-image-desktop-image-hero-3 background-size-cover height-50-md-auto"></div>
  <div class="col-12 col-md-5 height-50-md-auto position-relative d-flex align-items-center px-0">
    <div class="d-flex mx-auto">
      <div class="max-width-400px m-auto px-4 px-md-auto">
        <h1 class="font-size-30px mb-4">Discover our amazing CEO</h1>
        <p class="text-light-grey mb-4">As you already should know, the success of
        ROOM couldn't be whithout our amazing team. Overall, ROOM is people story, 
        and the most amazing so far is our CEO : ISSOU !
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row height-100-md-65 text-center ">
  <div class="my-5 pb-5">
    <h3 class="font-size-14px mb-4">BFMTV Interview</h3>
    <iframe class="width-video" height="379" src="https://www.youtube.com/embed/5p8wTOr8AbU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>